.Flex {
    display: flex;
}

.Wrap{
    flex-direction: wrap;
}

.Column{
    flex-direction: column;
}

.Center{
    align-items: center;
}

.SpaceBetween{
    justify-content: space-between;
}
.Pointer{
    cursor: pointer;
}

/* ________________ Muli-Uses Classes Styling ________________ */

.relative{
    position: relative;
}

.ImgSetting{
    width: 100%;
    object-fit: cover;
}

.Buttons{
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.Buttons:hover{
    transform: translateY(-3px)
}

.ButtonBlue{
    background: #0062b9;
    color: #fff;
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}


.SectionPadding{
    padding: 12rem 0;
}

.MainContainer{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}


.HeaderMain{
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
}

.HeaderMain::after{
    content: "";
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #0062b9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.HeaderSub{
    display: block;
    text-align: center;
    color: #777;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

.SecondHeaderMain{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.SecondHeaderSub{
    font-size: 1.8rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
}

.MarginBottom9rem{
    margin-bottom: 9rem;
}

.MarginBottom1rem{
    margin-bottom: 1rem;
}

.MarginBottom4rem{
    margin-bottom: 4rem;
}

.MainContainer{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.MarginBottom11rem{
    margin-bottom: 11rem;
}