* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

/*  ******** HTML styling ******** */
html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

/*  ******** body styling ******** */
body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Source Sans 3", serif;
    color: #333;
}

/*  ******** general links styling ******** */
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

/*  ******** general li styling ******** */
li {
    list-style: none;
}

/* ________________ header styling ________________ */
#header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* ******** nav container styling ******** */
.NavContainer{
    padding: 1rem 5rem;
}

/* ******** logo styling ******** */
.LogoFrame{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #0062b9;
    /* cursor: pointer; */
}

.LogoTitle {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    align-content: center;
    /* cursor: pointer; */
}

.NavToggle{
    display: none;
}

/* ******** nav li styling ******** */
.NavLink {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

/* ******** hover on header styling ******** */
.OnHover:hover {
    color: #0062b9 !important;
}

/* ________________ home hero styling ________________ */
#hero {
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url("../img/hero-background/common-bg.svg");
}
/* ******** home content styling ******** */
.HeroContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    max-width: 96rem;
    display: flex;
    flex-direction: column;
}

.HeroHeader{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.MarginTop{
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.HeroDescription{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.HeroButton{
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.HeroBtn{
    padding: 1.5rem 8rem;
    font-size: 2rem;
    background: #fff;
    color: #333;
}


/* ******** home social styling ******** */
.HeroSocial{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    z-index: 100;
}

.SocialContent{
    width: 5rem;
    height: 5.6rem;
    align-content: center;
    cursor: pointer;
    transition: background .3s;
}

.SocialContent:hover{
    background: rgba(255,255,255,0.1)
}

.SocialLink{
    font-size: 2.5rem;
    width: 100%;
    padding: 1.2rem;
}

.BorderLineBottom{
    border-bottom: 2px solid #eee;
}

/* ******** home scroll styling ******** */
.HeroScroll{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.ScrollAnimation{
    width: 25px;
    height: 40px;
    border: 2px solid #eee;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.ScrollAnimation::after{
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: drop 1.3s infinite;
}

@keyframes drop {
    to {
        opacity: 0;
        top: 27px
    }
}

/* ________________ About styling ________________ */
#about{
    background: #fafafa;
    padding: 12rem 0;
}

/* ******** main about me container styling ******** */
.MainContainer{
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

/* ******** my skills styling ******** */
.MySkill{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
}

/* ________________ projects styling ________________ */
#project{
    padding: 12rem 0;
}


/* ******** project glory styling ******** */
.ProjectGlory{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
}

/* ******** project img styling ******** */
.ProjectRow{
    overflow: hidden;
    position: relative;
}

.MyImg{
    position: absolute;
    /*background-color: blue;
    */width: 70.4%;
    height: 72.12%;
    top: 10.7%;
    left: 15%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
}

/* ******** project info styling ******** */
.ProjectInfo{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.ProjectHeader{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.ProjectSub{
    font-size: 1.8rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

/* ________________ contact styling ________________ */
#contact{
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url("../img/hero-background/common-bg.svg");
    background-size: cover;
    background-position: center;
}

.HeadColor{
    color: #fff;
}

.HeadColor::after{
    content: "";
    background: #fff !important;
}

.SubColor{
    color: #eee !important;
}

.ContactForm{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

.FormField{
    margin-bottom: 4rem;
}

.FormLabel{
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.FormInput{
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.FormTextArea{
    resize: none;
}

.FormInput:focus {
    outline: none;
}

.FormSubmit{
    border: none ;
}
/* ________________ Footer Styling ________________ */
#foot{
    background: #000;
    color: #fff;
}

.FooterMain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 8rem 0;
}

.FooterRow{
    width: 40%;
    max-width: 50rem;
}

.FooterHeader{
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.FooterScript{
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
    width: 45rem;
}

.FooterIconContainer{
    margin-top: 2rem;
}
.FooterIcon{
    margin-right: 1rem;
    width: 2.5rem;
    font-size: 2.3rem;
}

.FooterSecond{
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: center;
}

.Link{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px;
}