/* For screens with a max-width of 37.5em (600px) */
@media  screen and (max-width: 37.5em) {
    .NavToggle{
        display: block;
        position: relative;
        width: 5rem;
    }
    .NavBurger, 
    .NavClose {
        position: absolute;
        width: max-content;
        height: max-content;
        inset: 0;
        margin: auto;
        font-size: 2.5rem;
        cursor: pointer;
        transition: opacity .1s, transform .4s;
    }

    .NavClose {
        opacity: 0;
    }

    .NavList{
        display:flex;
        flex-direction: column;
        align-items: end;
    }
    .NavMenu{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        opacity: 0;
        display: none;
    }

    .sec-padding{
        padding: 8rem 0;
    }
    
    .HeaderMain{
        font-size: 4rem;
    }

    .HeaderSub{
        font-weight: 400;
    }

    .SecondHeaderMain{
        font-size: 2.4rem;
    }

    .Buttons{
        padding: 1.5rem 5rem;
    }

    .MarginBottom9re{
        margin-bottom: 8rem;
    }

    .HeroHeader {
        font-size: 4.5rem;
    }

    #header::after {
        top: calc(100% + 1.2rem);
    }

    .HeaderSub {
        font-size: 1.8rem;
    }

    .HeroDescription {
        font-size: 2rem;
    }

    #hero {
        height: unset;
        min-height: unset;
    }

    .HeroScroll {
        display: none;
    }

    .HeroContainer {
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0, 0);
    }

    .ProjectSub {
        font-size: 1.7rem;
    }

    .ProjectRow{
        padding: 0 !important;
    }

    .ContactForm {
        padding: 3rem;
    }

    .FormField {
        margin-bottom: 3rem;
    }

    .ProjectGlory {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 8rem 0;
    }

    .ProjectInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ProjectHeader {
        font-size: 2.4rem;
    }

    .FormSubmit{
        width: 100%;
    }

    .FooterMain{
        display: flex;
        flex-direction: column-reverse;
    }

    .FooterSocial{
        margin-bottom: 5rem;
    }
}


/* For screens with a max-width of 56.25em (900px) */
@media screen and (max-width: 56.25em) {
    .NavLink{
        font-size: 1.344rem;
        padding: 2.688rem 1.6128rem;
    }

    .LogoFrame{
        width: 4.031rem;
        height: 4.031rem;
    }

    .LogoTitle{
        font-size: 1.6128rem;
    }

    .HeroSocial {
        display: none;
    }

    .HeroBtn{
        text-align: center;
        align-content: center;
        width: 24.094rem;
        height: 5.375rem;
        padding: auto;

    }
    .sec-padding{
        padding: 8rem 0;
    }

    .HeaderMain{
        font-size: 3.584rem;
    }

    .HeaderSub{
        font-size: 1.792rem;
        font-weight: 400;
    }
    .Buttons{
        padding: 1.344rem 4.48rem;
    }

    .ProjectGlory {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 8rem 0;
    }

    .ProjectInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ProjectHeader {
        font-size: 2.4rem;
    }

    .ProjectSub {
        font-size: 1.7rem;
    }

    .ProjectRow{
        padding: 0 !important;
    }

    .ProjectRow {
        text-align: center;
    }

    .ProjectRow .ProjectInfo {
        align-items: center;
    }

    .NavContainer {
        padding: 0 2rem;
    }

    .FooterMain {
        padding: 6rem 0;
    }

    .FooterSecond .FooterIconContainer {
        width: 100%;
    }

    .FooterSecond .FooterMain {
        padding: 3.5rem 0;
    }
    
    .SectionPadding{
        padding: 8rem 0;
    }
    
    .FooterSocial{
        min-width: 11.5rem;
     }
     .FooterInfo{
        width: 100%;
     }
}

/* For screens with a max-width of 75em (1200px) */
@media  screen and (max-width: 75em) and (max) {
    html {
        font-size: 59%;
    }
}

/* For screens with a min-width of 112.5em (1800px) */
@media  screen and (min-width: 112.5em) {
    html {
        font-size: 65%;
    }
}
